.App {
  text-align: center;
}

.App .photoContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90vw;
  gap: 3rem;
  margin: 3rem auto;
}

.App .largeImage {
  width: 60%;
}
